In [8]:
import pandas as pd
import numpy as np
import opendatasets as od

https://www.kaggle.com/datasets/sobhanmoosavi/us-accidents/data

In [9]:
dbg = True

In [ ]:
#mental note download from kaggle
https://jovian.com/blog/tutorials/%20kaggle-opendatasets
https://www.youtube.com/watch?v=7Jgur9q2ZVk

In [22]:
data_url='https://www.kaggle.com/datasets/sobhanmoosavi/us-accidents'
od.download(data_url, force=True)

#note use username and key in slack chat

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Downloading us-accidents.zip to .\us-accidents

100%|██████████| 653M/653M [01:59<00:00, 5.72MB/s]

In [23]:
import os
data_dir = r'.\us-accidents'
os.listdir(data_dir)

['US_Accidents_March23.csv']

In [25]:
#windows use: / mac use: \ to open file
data_filename=data_dir+'/US_Accidents_March23.csv'

In [55]:
if dbg:
    car_crash_df=pd.read_csv(data_filename, nrows=200000)
else:
    car_crash_df=pd.read_csv(data_filename)

In [37]:
df_copy = car_crash_df.copy()

Exploratory Data Analysis

In [56]:
car_crash_df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [57]:
car_crash_df.shape

(200000, 46)

In [58]:
car_crash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 46 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     200000 non-null  object
 1   Source                 200000 non-null  object
 2   Severity               200000 non-null  int64
 3   Start_Time             200000 non-null  object
 4   End_Time               200000 non-null  object
 5   Start_Lat              200000 non-null  float64
 6   Start_Lng              200000 non-null  float64
 7   End_Lat                0 non-null       float64
 8   End_Lng                0 non-null       float64
 9   Distance(mi)           200000 non-null  float64
 10  Description            200000 non-null  object
 11  Street                 200000 non-null  object
 12  City                   199986 non-null  object
 13  County                 200000 non-null  object
 14  State                  200000 non-null  object
 15  Zipcode                199970 non-null  object
 16  Country                200000 non-null  object
 17  Timezone               199970 non-null  object
 18  Airport_Code           199970 non-null  object
 19  Weather_Timestamp      198457 non-null  object
 20  Temperature(F)         197165 non-null  float64
 21  Wind_Chill(F)          21390 non-null   float64
 22  Humidity(%)            196757 non-null  float64
 23  Pressure(in)           197797 non-null  float64
 24  Visibility(mi)         196737 non-null  float64
 25  Wind_Direction         198444 non-null  object
 26  Wind_Speed(mph)        161560 non-null  float64
 27  Precipitation(in)      18352 non-null   float64
 28  Weather_Condition      197212 non-null  object
 29  Amenity                200000 non-null  bool
 30  Bump                   200000 non-null  bool
 31  Crossing               200000 non-null  bool
 32  Give_Way               200000 non-null  bool
 33  Junction               200000 non-null  bool
 34  No_Exit                200000 non-null  bool
 35  Railway                200000 non-null  bool
 36  Roundabout             200000 non-null  bool
 37  Station                200000 non-null  bool
 38  Stop                   200000 non-null  bool
 39  Traffic_Calming        200000 non-null  bool
 40  Traffic_Signal         200000 non-null  bool
 41  Turning_Loop           200000 non-null  bool
 42  Sunrise_Sunset         199986 non-null  object
 43  Civil_Twilight         199986 non-null  object
 44  Nautical_Twilight      199986 non-null  object
 45  Astronomical_Twilight  199986 non-null  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 52.8+ MB

In [59]:
car_crash_df.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,200000.000000,200000.000000,200000.000000,0.0,0.0,200000.000000,197165.00000,21390.000000,196757.000000,197797.000000,196737.000000,161560.000000,18352.000000
mean,2.410060,35.402579,-104.355926,NaN,NaN,0.033965,65.68728,30.399621,63.903195,30.001038,9.281449,8.512051,0.057414
std,0.494724,4.582634,17.870632,NaN,NaN,0.535451,16.43741,19.850108,21.603255,0.271988,1.991511,6.313318,0.493516
min,1.000000,25.433098,-123.813927,NaN,NaN,0.000000,-13.00000,-29.300000,4.000000,0.120000,0.000000,0.000000,0.000000
25%,2.000000,33.754379,-118.437279,NaN,NaN,0.000000,57.00000,19.200000,50.000000,29.910000,10.000000,5.000000,0.000000
50%,2.000000,34.120522,-117.370598,NaN,NaN,0.000000,66.90000,30.300000,66.000000,30.000000,10.000000,8.100000,0.000000
75%,3.000000,38.514824,-83.764334,NaN,NaN,0.010000,77.00000,38.800000,81.000000,30.100000,10.000000,10.400000,0.030000
max,4.000000,44.895218,-70.590034,NaN,NaN,80.890000,132.60000,111.000000,100.000000,33.040000,80.000000,822.800000,10.140000

In [60]:
car_crash_df.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [61]:
missing_percentage = car_crash_df.isna().mean() * 100
missing_percentage

ID                         0.0000
Source                     0.0000
Severity                   0.0000
Start_Time                 0.0000
End_Time                   0.0000
Start_Lat                  0.0000
Start_Lng                  0.0000
End_Lat                  100.0000
End_Lng                  100.0000
Distance(mi)               0.0000
Description                0.0000
Street                     0.0000
City                       0.0070
County                     0.0000
State                      0.0000
Zipcode                    0.0150
Country                    0.0000
Timezone                   0.0150
Airport_Code               0.0150
Weather_Timestamp          0.7715
Temperature(F)             1.4175
Wind_Chill(F)             89.3050
Humidity(%)                1.6215
Pressure(in)               1.1015
Visibility(mi)             1.6315
Wind_Direction             0.7780
Wind_Speed(mph)           19.2200
Precipitation(in)         90.8240
Weather_Condition          1.3940
Amenity                    0.0000
Bump                       0.0000
Crossing                   0.0000
Give_Way                   0.0000
Junction                   0.0000
No_Exit                    0.0000
Railway                    0.0000
Roundabout                 0.0000
Station                    0.0000
Stop                       0.0000
Traffic_Calming            0.0000
Traffic_Signal             0.0000
Turning_Loop               0.0000
Sunrise_Sunset             0.0070
Civil_Twilight             0.0070
Nautical_Twilight          0.0070
Astronomical_Twilight      0.0070
dtype: float64

In [62]:
#dropping columns with more than 20% missing values
car_crash_df=car_crash_df.drop(columns=['End_Lat','End_Lng','Wind_Chill(F)','Precipitation(in)'])

In [63]:
missing_percentage = car_crash_df.isna().mean() * 100
missing_percentage

ID                        0.0000
Source                    0.0000
Severity                  0.0000
Start_Time                0.0000
End_Time                  0.0000
Start_Lat                 0.0000
Start_Lng                 0.0000
Distance(mi)              0.0000
Description               0.0000
Street                    0.0000
City                      0.0070
County                    0.0000
State                     0.0000
Zipcode                   0.0150
Country                   0.0000
Timezone                  0.0150
Airport_Code              0.0150
Weather_Timestamp         0.7715
Temperature(F)            1.4175
Humidity(%)               1.6215
Pressure(in)              1.1015
Visibility(mi)            1.6315
Wind_Direction            0.7780
Wind_Speed(mph)          19.2200
Weather_Condition         1.3940
Amenity                   0.0000
Bump                      0.0000
Crossing                  0.0000
Give_Way                  0.0000
Junction                  0.0000
No_Exit                   0.0000
Railway                   0.0000
Roundabout                0.0000
Station                   0.0000
Stop                      0.0000
Traffic_Calming           0.0000
Traffic_Signal            0.0000
Turning_Loop              0.0000
Sunrise_Sunset            0.0070
Civil_Twilight            0.0070
Nautical_Twilight         0.0070
Astronomical_Twilight     0.0070
dtype: float64

In [ ]:


#thoughts

#use Knn imputation for data >1, average for data <1
#explore metadata, maybe drop columns too help with run time
#graphs showing car accidents overtime

Research Questions

1. Geographic Factors:
What are known hotspot locations for highway accidents?
Which States had the most traffic accidents, and was this influenced more by population size of the State or weather patterns or by some other unknown factor?
2. Temporal Factors:
Since the data was collected between 2016-2023, what impact did Covid-19 have on traffic accidents?
Did holidays or certain days/seasons lead to more accidents?
Which years have car accidents seemed to improve or decrease in percentage?
3. Vehicle-Related Factors:
Are certain car manufacturers involved in more accidents than others?
Have car accidents decreased since 2016, with the increase of technology and car manufacturing safety?
Have car accident casualties decreased since 2016 with the increase in car manufacturing safety?
4. Socioeconomic and Demographic Factors:
Do various areas with low socioeconomic status and income affect car accidents in any way? (correlation between the amount or severity of accidents and income/demographics)
FRED API - did unemployment have a positive or negative correlation with car accidents?
5. Severity and Types of Accidents:
What types or severity of accidents were most common?
6. Regional Improvements:
Which areas have improved the most since 2016 at decreasing the rate of car accidents?